---
import VectorOne from '../assets/race.svg'
import VectorTwo from '../assets/torneo.svg'
import VectorThree from '../assets/fest.svg'

import Check from '../assets/check.svg'
import Bolt from '../assets/bolt.svg'
import Money from '../assets/solo.svg'
import Wallet from '../assets/activ.svg'
import Secure from '../assets/grup.svg'
import Rihno from '../assets/file.svg'

---


<section class="product-brief" id="features">
    <div class="container">


        <!-- Feature Two -->
        <div class="row product-brief-items">
            <div class="brief-media center one-half column">
                <img src={VectorTwo.src} class="md-width">
            </div>

            <div class="brief-tab one-half column">
                <h3 class="h2-title">Torneos espectaculares.</h3>
                <p class="m-paragraph m-margin">Los torneos deportivos universitarios en TESCI se organizan como parte de una estrategia para fomentar la convivencia, el talento y el espíritu competitivo entre estudiantes, con disciplinas variadas y etapas bien definidas.</p>

                <div class="brief-items">
                 <div class="row m-margin">
                    <div class="one-half column feature-grid">
                        <img src={Bolt.src} alt="Fast connect">
                        <p class="s-paragraph">Etapas eliminatorias y finales</p>
                    </div>
                    <div class="one-half column feature-grid">
                        <img src={Money.src} alt="Money transfer">
                        <p class="s-paragraph">Participación abierta y voluntaria.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-half column feature-grid">
                        <img src={Wallet.src} alt="Digital wallet">
                        <p class="s-paragraph">Disciplinas deportivas variadas.</p>
                    </div>
                    <div class="one-half column feature-grid">
                        <img src={Secure.src} alt="Secure connection">
                        <p class="s-paragraph">Apoyo institucional y premios.</p>
                    </div>
                </div>
              </div>
            </div>
        </div>
   
        <!-- Feature One -->
        <div class="row product-brief-items">
            <div class="brief-tab one-half column">
                <h3 class="h2-title">Actividades retadoras.</h3>
                <p class="m-paragraph m-margin">Las actividades deportivas en TESCI son parte integral de la formación universitaria, promoviendo salud, disciplina y comunidad a través de programas complementarios y eventos especiales.</p>


               <div class="brief-items">
                 <div class="row m-margin">
                    <div class="one-half column feature-grid">
                        <img src={Bolt.src} alt="Fast connect">
                        <p class="s-paragraph">Disciplinas disponibles.</p>
                    </div>
                    <div class="one-half column feature-grid">
                        <img src={Money.src} alt="Money transfer">
                        <p class="s-paragraph">Inscripción voluntaria y abierta.</p>
                    </div>
                </div>
                <div class="row">
                    <div class="one-half column feature-grid">
                        <img src={Wallet.src} alt="Digital wallet">
                        <p class="s-paragraph">Entrenamientos y preparación física.</p>
                    </div>
                    <div class="one-half column feature-grid">
                        <img src={Secure.src} alt="Secure connection">
                        <p class="s-paragraph">Eventos masivos y representativor.</p>
                    </div>
                </div>
              </div>
            </div>

            <div class="brief-media center one-half column">
                <img src={VectorOne.src} class="md-width">
            </div>
        </div>



     <!-- Feature One -->
      <div class="row product-brief-items">

        <div class="brief-media center one-half column">
            <img src={VectorThree.src} class="md-width">
        </div>
        
         <div class="brief-tab one-half column">
            <h3 class="h2-title">Eventos comunitarios.</h3>
            <p class="m-paragraph m-margin">TESCI organiza eventos que vinculan a estudiantes, docentes y vecinos de Cuautitlán Izcalli, promoviendo el compromiso social y la colaboración.</p>


            <div class="brief-items">
                <div class="row m-margin">
                <div class="one-half column feature-grid">
                    <img src={Bolt.src} alt="Fast connect">
                    <p class="s-paragraph">Enlace con instituciones externas.</p>
                </div>
                <div class="one-half column feature-grid">
                    <img src={Money.src} alt="Money transfer">
                    <p class="s-paragraph">Participación estudiantil activa.</p>
                </div>
            </div>
            <div class="row">
                <div class="one-half column feature-grid">
                    <img src={Wallet.src} alt="Digital wallet">
                    <p class="s-paragraph">Celebración de la identidad TESCI.</p>
                </div>
                <div class="one-half column feature-grid">
                    <img src={Secure.src} alt="Secure connection">
                    <p class="s-paragraph">Espacios abiertos y seguros.</p>
                </div>
            </div>
          </div>
        </div>

      </div>

    </div>
 </section>


 <style lang="scss">

.product-brief{
  background-color: var(--tenary);
  .hero-brand{
    padding-bottom: 50px;
    .brands{
      margin-top: 15px;
    }
  }
  .product-brief-items{
    margin-bottom: 100px;
    .brief-tab{
      padding-top: 50px;
    }
  }

  .feature-grid{
    display: flex;
    p{
      margin: 0 0 0 10px;
    }
    img{
      width: 25px;
      margin-top: -10px;
    }
  }

  .brief-media{
    height: 340px;
    position: relative;
    overflow: hidden;
    background-color: #f2f5f9;
    padding-top: 40px;
  }

  @media (max-width:700px) {
    .brief-tab{
        margin-left: 20px;
    }
  }
}
 </style>